
*{     
	font-family: '';    
	padding:0;    
	margin:0; 
}
html, body{
  width: 100%;
  height: 100%;
  background-color: #fbf9f9;
  background-image: url("../img/ozadje.avif");
  background-size: cover;
  background-repeat: no-repeat;
  place-items: center;
  size: auto;

}
h1{

    font-family: 'Special Elite';
	font-size: 45px;
    background-color: aqua;
    filter:blur(.8px);
    border-radius: 25px;
   margin-bottom: 0;
   height: auto;
   width: 30%;
   text-align: center;
}
 
    
  .titlec{
    position: absolute;
 
  }
  .title{
  
    text-align: center;
  }
  #title{
    font-size: 100px;
    
  }
  .wrapper{
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%, -50%);
    width: 500px;
    height: 600px;
    padding: 10px;
    


  }
  .frame {
    position: relative;
    top: 50%;
    left:50%;
    transform:translate(-50%, -50%);
    width: 600px;
    height: 600px;
    margin: 0 ;
    padding: 10px;
    background-color: rgb(17,88,118);
    filter: blur(.8px);
   border: solid 3px black;
    padding-top: 10px;
  }
  .play_btn {
    appearance: button;
    backface-visibility: hidden;
    margin-top: 2%;
    font-family: 'Special Elite';
	font-size: 45px;
    background-color: aqua;
    filter:blur(.8px);
    border-radius: 25px;
   margin-bottom: 3%;
   height: auto;
   width: 30%;
   text-align: center;
   align-items: center;
}
  
  
  .play_btn:disabled {
    cursor: alias;
  }
  
  .play_btn:hover{
    opacity: 0.7;
  }
.ball{

  height: 32px;
  width: 30px;
}
.points{
  text-align: center;
  display: block;
  width: 100px;
}
#points_div{
  position: relative;
  bottom: -35px;
  width: 100px;
  left: 40%;
}
.footer {
  text-align: center
}
#ply{
  position: relative;
}
button{
  margin-left: 30%;
  margin-right: 30%;
}

#play{
  display: none;
}
#up{
  display: block;
  color: rgba(255, 255, 255, 0.8);
  font-size: 2em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--clr-neon);
  position: absolute;
  top: 0.3em;
  right: 0.35em;
}
#off{
  font-size: 2em;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--clr-neon);
  position: absolute;
  top: 0.3em;
  right: 0.35em;
}